<!doctype html>
<html lang="he" dir="rtl">

  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/style/style.min.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <!--link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css"-->
  </head>

  <body>
    <h5>
      <i class="fas fa-database"></i>&nbsp;
      אתר זה מציג נתונים מתוך מאגרי מידע ממשלתיים <a href="https://info.data.gov.il/datagov/home/"
        target="_blank">info.data.gov.il/datagov</a>
    </h5>
    <hr />
    <%- body %>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/utils.js"></script>

</html>