$color-green: #19aa8d;
$color-light-green2: #1abc9c;
$color-blue: #2980b9;
$color-red: #ed5565;
$color-yellow: #f8ac59;
$light-font-color: #99979c;
$color-white: white;
$color-dark: #212121; // #2a2a2a;
$color-sidebar: rgb(52, 73, 94);
$sidebar-font-color: white; // #d6d6d6;