


body {
	padding: 50px;
	font: 14px "Open Sans Hebrew", "Open Sans", Arial, sans-serif; // "Lucida Grande", Helvetica, Arial, sans-serif;
	
}

a {
	color: #00B7FF;
}

.clearSearch {
	color: $color-red;
	font-size: 1.5em;
	position: absolute;
	left: 16px;
	top: 50%;
	margin-top: -0.5em;

	cursor: pointer;

	&:hover {
		color: $color-green;
	}
}


[data-search] td{
	white-space: nowrap;
}